/bootstrap/ssr
/node_modules
/public/build
/public/сss
/public/js
/public/hot
/public/storage
/storage/*.key
/.phpunit.cache
/vendor
.idea
.fleet
.vscode
.phpunit.result.cache
.env
.env.backup
.env.productio
.DS_Store
composer.phar
Thumbs.db
satisfiable
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
