body {
	padding-top: 70px;
    overflow-y: scroll;
}

.fade {
    transition: opacity 0.5s linear;
}

/*body {
    background-color: #EBEFF2 !important;
}

.navbar {
    background-color: #172D40 !important;
}
*/
/*.footer {
	height: 20px;
    background-color: #172D40 !important;
}*/
