body {
	padding-top: 70px;
    overflow-y: scroll;
}

/*body {
    background-color: #EBEFF2 !important;
}

.navbar {
    background-color: #172D40 !important;
}
*/
/*.footer {
	height: 20px;
    background-color: #172D40 !important;
}*/
