@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-base-100 text-gray-400;
    }
}

@layer components {
    .navbar {
        @apply bg-base-300 justify-between rounded-box h-14 mt-4 sticky top-0 z-10
    }
    .footer {
        @apply justify-between border-t border-neutral px-2 p-4 mt-10
    }
    .menu {
        @apply p-0
    }
    .menu li {
        animation: button-pop var(--animation-btn, 0.25s) ease-out;
    }
    .menu li > :not(ul):not(.menu-title):not(details).active {
        @apply bg-base-300 text-orange-500;
    }
    .menu a {
        @apply hover:bg-base-200 hover:text-orange-500
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.footer-content {
    @apply inline-flex items-center
}
